.mat-group {
  padding: 5%;
}

.section-theme {
  border-color: #000000;
  border-radius: 1%;
  border: 1px;
}

.header {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(95, 0, 139);
}
